.choicesContainer{
    display: flex;
    justify-content: center;    
}

.questionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lettersButton{
    margin-left: 10%;
}

.wordContainer{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wordButtonContainer{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    column-gap: 2%;
    row-gap: 6%;
    width: 100%;
    padding-bottom: 2%;
}

.wordsButton{
    margin-right: 10%;
}

.buttonGroup{
    display: flex;
    
}